.aligned label {width: 12em;}
#producttoparameter_set-group .tabular td.original p {display: none;}
#producttoparameter_set-group .tabular tr.has_original td {padding-top: 5px;}

#productvariation_set-group .tabular td.original p {display: none;}
#productvariation_set-group .tabular tr.has_original td {padding-top: 5px;}


tr.tr-is-heading {
    background: #e9e9e9;
}

tr.tr-is-heading .field-value .related-widget-wrapper {
    display: none;
}

tr.tr-is-heading .field-get_parameter_name p {
    font-size: 1rem;
    font-weight: 600;
}